@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
}

.header-img {
	background-image: url(/assets/images/bearded-dragon.png);
	background-repeat: none;
	height: 95vh;
}

.logo-text {
	font-family:  "Roboto", sans-serif;
	 color: white;
}
.nav-text a{
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	
}

.chevron{
	align-items: center;
	justify-content: center;
}
.history {
	margin-top: 3rem;
}